@charset "UTF-8";

/*====================================================================*/

/*REGRAS GLOBAIS*/

*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'DancingScript';
    src: url(../fonts/DancingScript-VariableFont_wght.ttf);
}

/*====================================================================*/

/*VARIÁVEIS*/

:root
{
    --corA: rgb(0, 0, 139);
    --corB: rgb(71, 210, 245);
    --corC: rgb(102, 187, 162);
    --corD: rgb(20, 20, 20);
    --corE: rgb(161, 163, 143);

    --fonteA: 'DancingScript';
}

/*====================================================================*/

/*HEADER E MENU*/

header
{
    min-height: 80px;
    margin-bottom: 0;
}

.logo
{
    padding-left: 37px;
}

.logo a
{
    font-family: var(--fonteA);
    font-size: 35px;
    line-height: 80px;
    font-weight: 600;
    color:white
}

.navbar
{
    background-color: var(--corA);
    height: 80px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
}

.navdiv
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.navbar ul 
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .item
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    height: 100%;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-radius: 1px;
    text-decoration: none;
    display: flex;
    font-size: 21px;
    font-weight: bold;
}

.navbar .item:hover
{
    background-color: var(--corB);
    color: var(--corA);
    transition: 0.1s ease-out;
}

/*====================================================================*/

/*BODY*/

body
{
    background: var(--corE);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main
{
    background-color: white;
    min-width: 280px;
    max-width: 1000px;
    margin:auto;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

/*====================================================================*/